@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter Tight", sans-serif;
  color: #fff;
  font-size: 15px;
}
img {
  max-width: 100%;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  background: #0f0f0f;
}
