@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", system-ui;
  color: #fff;
  font-size: 15px;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  background: #000;
  overflow-x: hidden;
}
